<div class="container">
  <h2>My Info</h2>
  <div ng-if='myinfo.user'>
    <div class='col-sm-6'>Name:</div>
    <div class='col-sm-6'>
      {{ myinfo.user.firstname + ' ' + myinfo.user.lastname }}
    </div>
    <div class='col-sm-6'>Email:</div>
    <div class='col-sm-6'>
      {{ myinfo.user.email }}
    </div>
    <div class='col-sm-6'>Phone Number:</div>
    <div class='col-sm-6'>
      {{ myinfo.user.phone }}
    </div>
    <div class='col-sm-12'>Favorite Dish:</div>
    <favorite-item class='col-sm-12' favorite-item="myinfo.favorite_dish"></favorite-item>
  </div>
  <div ng-if='!myinfo.user'>
    Not Signed Up Yet. <a ui-sref='public.signup'>Sign up Now!</a>
  </div>
</div>
